$primary: #263238;
$primaryLight: #4F5B62;
$primaryDark: #000A12;
$secondary: #0D47A1;
$secondaryLight: #5472D3;
$secondaryDark: #002171;
$textPrimary: #FFFFFF;
$textSecondary: #FFFFFF;
$background: #FFFFFF;
$surface: #FFFFFF;
$error: #B71C1C;
$textBackground: #333333;
$textSurface: #333333;
