@import '../../../palette.scss';

.List {
  display: flex;
  width: 100%;
  height: auto;
  background: $background;
}
.ListItem {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  width: 100%;
  min-height: 3rem;
}
.ListItem p {
  padding-right: 1rem;
  padding-left: 1rem;
  flex-grow: 1;
  font-size: 0.85rem;
  color: $textBackground;
}
.ListItem a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  text-decoration: none;
}
.ListItem a i {
  font-size: 1.5rem;
  color: $textBackground;
}
